* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
header {
    margin: 44px 0 144px 76px
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block
}
.header-Pro{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}
button {
    background: #6FBF44;
    border-radius: 28.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}
section {
    display: inline-block;
    margin-left: 86px;
}
h1 {
  font-weight: 100px;
  font-size: 70px;
  line-height: 122px;
  color: #515151;
}

p{
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #515151;
    width: 600px;
    margin-top: 32px;
}
